<div>
<div>  
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="patient.nom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
     </mat-form-field>
 </div>
<div>
    <mat-form-field appearance="outline">
        <mat-label> </mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="patient.prenom">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
     </mat-form-field>
</div>
<div>
    <mat-form-field appearance="outline">
        <mat-label></mat-label>
        <input matInput placeholder="Placeholder" [(ngModel)]="patient.maladie">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint></mat-hint>
     </mat-form-field>
</div>
<div fxLayoutAlign="space-around start">
    <button mat-stroked-button (click)="openSnackBar('Patient Modifié avec succès', 'Fermer')">confirme</button>
    <button mat-button mat-dialog-close>Annuler</button>
</div>
</div>
