
<div fxLayout="column" fxLayoutAlign="space-between center" >
    <div fxLayoutAlign="space-between center" >
    <mat-toolbar  fxLayoutAlign="space-around center" >
    
    
      <button mat-stroked-button (click)="file.click()">
          <mat-icon>person_add_alt_1</mat-icon>
          <input (change)="onChange($event)" visbility="hidden" appearance="fill" #file type="file" name="file" accept="image/*" >  </button>
        
          
    </mat-toolbar> 
    </div>
    <div fxLayoutAlign="space-between center"  >
   
   <!-- <table cellspacing="20" >
      <td><mat-form-field class="example-full-width" (ngSubmit)="insertData()" >
        <mat-label>email</mat-label>
        <input matInput placeholder="pat@example.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>nom</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>prenom</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>
    <tr>
      <td><mat-form-field class="example-full-width">
        <mat-label>grade</mat-label>
        <input matInput>
      </mat-form-field></td>
      <td><mat-form-field class="example-full-width">
        <mat-label>specialitée</mat-label>
        <input matInput>
      </mat-form-field></td>
    </tr>

    </table>-->
    <form (ngSubmit)="insertData()">
      
      <div class="form-group">
      <label >nom</label>
      <input type="text" class="form-control" name="nom" [(ngModel)]="Medecin.nom">
      </div>
      <div class="form-group" >
        <label >prénom</label>
        <input type="text" class="form-control" name="nom" [(ngModel)]="Medecin.prenom">
        </div>
        <div class="form-group">
          <label >email</label>
          <input type="text" class="form-control" name="email" [(ngModel)]="Medecin.email">
          </div>
          <div class="form-group">
            <label >grade</label>
            <input type="text" class="form-control" name="grade" [(ngModel)]="Medecin.grade">
            </div>
            <div class="form-group">
              <label >spécialitée</label>
              <input type="text" class="form-control" name="spécialitée" [(ngModel)]="Medecin.specialitee">
              </div>
              <button class="btn btn-dark"> confirmer</button>
  </form>
    </div></div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-stroked-button (click)="insertData()" >confirme</button>
    </div>
