/* SIGN UP */
.form-login {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 45px;
    margin-bottom: 70px;
  }
  .form-login h2 {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 700;
    color: #fff;
    text-align: center;
  }
  .form-login .form-fullname {
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    margin-top: 20px;
  }
  .form-login .form-fullname:after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: 20px;
    background-color: #ccc;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }