mat-drawer-container{
    height: 100%;
    width: 50%;
    background-color: #ffffff;
    width: 200px;
    }
.buttontogglesidenav {
    margin: 0;
   position: absolute;               /* 2 */
   top: 50%;                         /* 3 */
   transform: translate(0, -50%);
   border-radius: 60%;
   background-color: #ffffff;
}
 mat-icon  {
    background-image: url("C:\Users\HP\Hopplanner\src\assets\1x\icon.jpg");
    width: 50%;
}
.img {
    border: none;
    height: 30%;
    width: 30%;
    border-radius: 50%;
    top: 50%;
    overflow: visible;
    
}

.mat-drawer-inner-container {
    width: 30%;
    height: 30%;
    border-radius: 50%;
    overflow: visible;
    background-size: 20%;
    top: 50%;
    position:unset;

}
mat-drawer {
    width: 30%;
}
 .img-doc {
    border: none;
    height: 10%;
    width: 10%;
    border-radius: 50%;
    top: 50%;
    overflow: visible;
    
}
table {
    border-collapse: separate;
    border-spacing: 20px 5rem;}